.login {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logout,
.filter-btn {
  justify-content: flex-end;
}